#let(detail = [
    "title": "Offer",
    "key": "promo.offers",
    "list": [
        "title": "Offers",
        "url": "/admin/promo/offers/"
    ]
])
#define(details):
    <dl class="t:center">
        <dt>Id</dt>
        <dd class="m:h:zero m:b">#(model.id)</dd>

        
        <dt>Name</dt>
        <dd class="m:h:zero m:b">#(model.name)</dd>

        <dt>Description</dt>
        <dd class="m:h:zero m:b">#(model.description)</dd>

        <dt>Content</dt>
        <dd class="m:h:zero m:b">#Date(timeStamp: model.expiry, fixedFormat: $app.dateFormats.full, timeZone: $app.timezone)</dd>

    </dl>
#enddefine
#inline("Admin/Detail")
